 .toolbar_cont {
        height: 7.1%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #87CEEB;
    }

    li {
        float: right;
    }

        li a, .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover, .dropdown:hover .dropbtn {
                background-color: darkslategray;
            }

        li.dropdown {
            display: inline-block;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .li_user {
        float: left;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        direction: rtl;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: right;
    }
    
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    #upper_area_title
    {
         font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
       margin-left: 1em;
       padding: 0.1em;
       direction:rtl;


    }
#upper_area {
   
     border: 1px solid lightgray;
     direction:rtl;

     height:40%;
}
  #lower_area_title
    {
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
       margin-left: 1em;
        padding: 0.1em;
       direction:rtl;


    }
#lower_area {
    border: 1px solid lightgray;
     direction:rtl;
      height:40%;
}
