<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

<!--footer start from here-->

<footer class="col-lg-12">
    <div class="container">
        <div class="col-sm-5">
            </div>
        <div class="col-sm-3 ">
            מיזם בשיתוף ישראל דיגיטלית© 
        </div>
        <div class="col-sm-4">
        </div>
            
        </div>
    
</footer>
<!--footer start from here-->


<!-- Modal -->
<div id="myModalFaq" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">שאלות ותשובות</h4>
            </div>
            <div class="modal-body panel">
                <p><h4 class="text-primary">&nbsp;&nbsp;&nbsp;&nbsp; לתשובה לחץ על השאלה המתאימה, ליציאה לחץ על ה-X</h4></p>
                <div class="container col-sm-12">
                  <iframe class="col-sm-12" style="height:400px;" src="@Url.Action("Faq","Main")"></iframe>
                </div>
                <p>-</p>

               
            </div>
        </div>

    </div>
</div>
