@{
    Layout = null;
}

<!DOCTYPE html>
<div class="navbar">
  
        <div class="row col-sm-12">
           
                
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1" style="text-align:center;"><br /><a href="/Main/MainIndex">עמוד ראשי</a></div>
           
            <div class="col-sm-2" style="text-align:center;"><img style="width:80px;" src="@Url.Content("~/Images/digital_israel.png")" /><br />שייך למדינת ישראל,נוצר בשיתוף </div>
              
            <div class="col-sm-1"  style="text-align:center;"><br /><a href="mailto:someone@example.com?Subject=תקלה_מערכת_ניהול_מכרזים" target="_top">צור קשר</a></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1"></div>
               
       
    </div>

  
  
</div>