@model WebApplication1.Models.LoginModel

@{
    ViewBag.Title = "Auction Management System";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="en-US">
    <title>Login Form</title>

    

    <link rel="stylesheet" href="@Url.Content("~/Style/LoginStyle.css")">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">

</head>
<body>
    
    <div id="login">
       
       @using (Html.BeginForm()) { 

            <span class="fontawesome-user"></span>
            @Html.EditorFor(model => model.Username)

            <span class="fontawesome-lock"></span>
          @Html.EditorFor(model => model.Password)

            <input type="submit" value="Login">
        
       }
      </div>
</body>
</html>
