@model WebApplication1.Models.LoginModel

@{
    ViewBag.Title = "Auction Management System";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="en-US">
    <title>Login Form</title>

    

    <link rel="stylesheet" href="@Url.Content("~/Style/index_style.css")">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    
        @if (!ViewData.ModelState.IsValid)
        {
          
            <script> alert(" שם משתמש או סיסמא לא נכונים ");</script>
        }

    </head>      

<body>

        <div class="container">
            <section id="content">
                @using (Html.BeginForm())
                {
                    <h1><br />מערכת<br /> לניהול מכרזים</h1>
                    <div>
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @placeholder = "שם משתמש" } })
                    </div>
                    <div>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "סיסמא" } })
                    </div>
                    <div>
                        <input type="submit" value="התחבר" />
                        <a href="#">ישראל דיגיטלית</a>
                        <a href="#">מדינת ישראל</a>
                    </div>
            
             
                }
            </section><!-- content -->
        </div><!-- container -->
   

    <script src="js/index.js"></script>
</body>
</html>
