@using WebApplication1.Database
@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "שיוך סל למכרז";

}
   <style>
       div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #c00;
}

   </style>
<script>
    var col_js_regex = "";
    var row_js_regex = "";
    var row_page = 0;
    var row_limit = 4;
    var col_page = 0;
    var col_limit = 4;
    var jcol = col_limit - col_page;
    var jrow = row_limit - row_page;
    var size_of_rows = 0;
    var size_of_cols = 0;
    var curr_table = 0;
    function ajax_click(id)
    {
        var str = id.substring(1, id.length - 1);
        var parts = str.split(",");
        var auction_id = parts[0];
        var cluster_id = parts[1];
        var post_data = {
            auc_id: auction_id,
            clu_id : cluster_id
        };
        $.ajax({
            url: "/Main/ConnOpSupToAuctions",
            type: "POST",
            data : post_data,
            success: function (result) {
                $.bootstrapPurr("עודכן שיוך");
                table_update();
            }
        });
    }
    function paginate()
    {
        $('table.paginated').each(function() {
            var currentPage = 0;
   
            var numPerPage = 4;
            var $table = $(this);
            $table.bind('repaginate', function() {
                $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
            });
    
            $table.trigger('repaginate');
      
            var numRows = $table.find('tbody tr').length;
            var numPages = Math.ceil(numRows / numPerPage);
            var $pager = $('<div class="col-sm-12 pager"></div>');
 
            for (var page = 0; page < numPages; page++) {
                $('<span class="page-number"></span>').text(page + 1).bind('click', {
                    newPage: page
                }, function(event) {
                    currentPage = event.data['newPage'];
                    $table.trigger('repaginate');
                    $(this).addClass('active').siblings().removeClass('active');
                }).appendTo($pager).addClass('clickable');
            }
       
            $pager.insertBefore($table).find('span.page-number:first').addClass('active');
          
        });
    }
    function loading()
    {
        $("#main_table").empty();
        $("#main_table").append("<div class='col-sm-6'></div><div class='col-sm-1'><h3>אנא המתן...</h3></div><div class='col-sm-5'></div>");
    }
    function table_update()
    {
        loading();
        $.ajax({
            url: "/Main/GetTableSupToAuctions",
            type: "GET",
            success: function (result) {
                curr_table = result;
                setTable(curr_table);
               
            }
    });
    }
    function setTable(result)
    {
       
        var text = '<table class="table paginated">'
        var frow = true;
        var t = 0;
       
        for (var i = 0; i < result.length; i++)
        {
            if (frow) {
                frow = false;
                text+="<thead><tr>"
                for (var j = 0; j < result[i].length; j++) {
                    if (j == 0) {
                        text += ("<td>" + result[i][j] + "</td>");
                    }
                    else {

                        var words= result[i][j].split("<=>");
                        text += ("<td>" + words[1] + "</td>");
                    }
                }
                text += "</tr></thead><tbody>"
            }
            else {
                text += "<tr>"
                for (var j = 0; j < result[i].length; j++) {
                    if (result[i][j]=="1")
                        text += ("<td><img src='@Url.Content("~/Images/approve.png")'/></td>");
                    else if (result[i][j] == "0") {
                        col = result[0][j];
                        row = result[i][0];
                        col_nu = col.substring(0, col.indexOf("<=>"));
                        row_nu = row.substring(0, row.indexOf("<=>"));
                        text += ("<td> <button onclick='ajax_click(this.id)' id='(" + row_nu + "," + col_nu + ")' type='button'>+</button> </td>");
                    }
                    else
                    {                     


                        var words = result[i][j].split("<=>");
                        text += ("<td>" + words[1] + "</td>");
                        
                    }
                       
                }
                text += "</tr>"
            }
        }
        text += "</tbody></table>";
        $("#main_table").empty();
        $("#main_table").append(text);
        paginate();
    }
    $(document).ready(function () {
        loading();
    });
   
    table_update();




</script>
@section Code1
{
    
}


<div class="col-sm-12 row" id="main_table"></div>




