<style>
    #exc_but {
    position: relative;
 background-image: url(@Url.Content("~/Images/xsl_icon.png"));
    background-size:cover;
    width:40px;
    height:40px;
    background-size:cover;
    right: 95%;
   
    top: -35px;
    outline: 5px solid #fff;
}
</style>
<link rel="stylesheet" type="text/css">
<button id="exc_but">

</button>
