
@{
    ViewBag.Title = "MainIndex";
    Layout = "~/Views/Shared/MainLayout.cshtml";
    PageData["ExtraButtons"] = false;
    PageData["UpperTitle"] = "1";
    PageData["LowerTitle"] = "2";
}

@section Upper
{
    
    
    
    
    
   }
@section Lower
{
    
    
    
    }

<h2>MainIndex</h2>

