
@{
    ViewBag.Title = "ניהול משתמשים";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="section1">
    כותרת משנה
</section>
<section class="section2">
    כותרת 1
</section>
<section class="section3">
    חלון א'
</section>
<section class="section4">
    כותרת 2
</section>
<section class="section5">
    חלון ב'
</section>

