@using WebApplication1.Models
@{
    ViewBag.Title = "יצירת רשימת תיחור חדשה";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <label class="form-control"  >ליצירת רשימה לחץ על <span class="glyphicon glyphicon-arrow-left"></span></label>
                <div id="search_grop_butts" class="input-group-btn">
                    <div  id="search_contain_buttns"  class="btn-group" role="group">
                        <div id="search_contain" class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-left" role="menu">
                                <form id="form_search_area" class="form-horizontal" role="form">
                                    
                                        @if (!User.IsInRole("Admin"))
                                        {

                                            <div class="form-group">
                                                <div class="row">

                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="sel_unit">יחידה:</label>

                                                    </div>
                                                    <div class="col-sm-4">

                                                        <select class="form-control" id="sel_unit">
                                                            <option>בחר/י ערך</option>

                                                        </select>

                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="sel_clust">סל:</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="sel_clust">
                                                            <option>בחר/י ערך</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                        else
                                        {

                                                <div class="form-group">
                                                    <div class="row">

                                                        <div class="col-sm-1">
                                                            <label class="control-label" for="sel_unit">יחידה:</label>

                                                        </div>
                                                        <div class="col-sm-5">

                                                            <select class="form-control disabled" id="sel_unit">
                                                                <option>בחר/י ערך</option>

                                                            </select>
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <label class="control-label" for="sel_clust">סל:</label>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <select class="form-control" id="sel_clust">
                                                                    <option>בחר/י ערך</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                   
                                                    </div>

                                                }

                                         

                                            <div class="form-group">




                                                <div class="row">
                                                    <div class="col-sm-1">
                                                        <label class="control-label" for="sel_auct">מכרז:</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select class="form-control" id="sel_unit">
                                                            <option>בחר/י ערך</option>
                                                        </select>
                                                    </div>
                                                

                                            
                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="tichur_num">מס' תיחור:</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="tichur_num">
                                                    </div>
                                                </div>
                                            </div>


</form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span>שלוף רשימה</button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-new-window" aria-hidden="true">&nbsp;</span>חדש</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Table", new TableModel()
{
    header = new List<string>() { "מס' שורה", "מס' תוצאות בשליפה", "יחידה", "מספר מכרז", "שם מכרז", "תיחור", "מס' סל", "שם סל", "שם ספק", "ת.פ.", "איש קשר", "כתובת אימייל", "טלפון", "תאריך ושעה" },
    Title = "יצירת רשימת ספקים לתיחור",
    values = new List<List<string>>() { new List<string>() { "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa" },
    new List<string>() { "aaaaa", "abbaa", "aabaa", "aaaba", "abbaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa" }},
})
