@using WebApplication1.Models
@using WebApplication1.Database
@{
    ViewBag.Title = "יצירת רשימת תיחור חדשה";
    Layout = "~/Views/Shared/MainLayout.cshtml";

    List<SelectListItem> unitli = new List<SelectListItem>();
    List<SelectListItem> auctionli = new List<SelectListItem>();
    using (TimchurDatabaseEntities ent = new TimchurDatabaseEntities())
    {
        if (User.IsInRole("Admin"))
        {
            foreach (Units un in ent.Units)
            {
                unitli.Add(new SelectListItem() { Value = un.ID.ToString(), Text = un.Name, Selected = false });
            }
        }
        else
        {
            var rec = "<" + (ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.ID.ToString()) + "><" + (ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.Name) + ">.<" + ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().FullName + "," + ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Roles.Name + ">";
            unitli.Add(new SelectListItem() { Value = rec, Text = rec, Selected = true });
        }
        if (User.IsInRole("Admin") || ent.UnitsAuctions.Where(x => x.UnitID == ent.Users.Where(x2 => x2.IDCardNumber == User.Identity.Name).FirstOrDefault().Units.ID).Count() == 0)
        {
            foreach (Auctions un in ent.Auctions)
            {
                if (un.StatusID == 1)
                {
                    auctionli.Add(new SelectListItem() { Value = un.ID.ToString(), Text = un.Name, Selected = false });
                }
            }
        }
        else
        {
            foreach (UnitsAuctions un in ent.UnitsAuctions.Where(x => x.UnitID == ent.Users.Where(x2 => x2.IDCardNumber == User.Identity.Name).FirstOrDefault().Units.ID))
            {
                if (un.Auctions.StatusID == 1)
                {
                    auctionli.Add(new SelectListItem() { Value = un.Auctions.ID.ToString(), Text = un.Auctions.Name, Selected = false });
                }
            }
        }
    }
}
<script language="javascript" type="text/javascript">
    function GetVal(_auctionId) {
        var procemessage = "<option selected='selected'>המתן....</option>";
        $("#sel_clust").html(procemessage).show();
        var url = "/Main/GetCluByAuc/";

        $.ajax({
            url: url,
            data: { auctionId: _auctionId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option selected='selected'>בחר/י ערך</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#sel_clust").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>
@section Code1
{
  
    var table = $('.tabExcel').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: "מערכת שליפת ספקים לתיחור – רשימת משתמשים מורשים" +dstr
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });

}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <label class="form-control"  >ליצירת רשימה לחץ על <span class="glyphicon glyphicon-arrow-left"></span></label>
                <div id="search_grop_butts" class="input-group-btn">
                    <div  id="search_contain_buttns"  class="btn-group" role="group">
                        <div id="search_contain" class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-left" role="menu">
                                <form id="form_search_area" class="form-horizontal" role="form">
                                    
                                        @if (User.IsInRole("Admin"))
                                        {

                                            <div class="form-group">
                                                <div class="row">

                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="sel_unit">יחידה:</label>

                                                    </div>
                                                    <div class="col-sm-4">

                                                        @Html.DropDownList("D", unitli, "בחר/י ערך", new { @class = "form-control" })

                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="sel_clust">סל:</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="sel_clust">
                                                            <option>אנא בחר מכרז</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                        else
                                        {

                                                <div class="form-group">
                                                    <div class="row">

                                                        <div class="col-sm-1">
                                                            <label class="control-label" for="sel_unit">יחידה:</label>

                                                        </div>
                                                        <div class="col-sm-5">

                                                            @Html.DropDownList("D",unitli, new { @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <label class="control-label" for="sel_clust">סל:</label>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <select class="form-control" id="sel_clust">
                                                                    <option>אנא בחר מכרז</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                   
                                                    </div>

                                                }

                                         

                                            <div class="form-group">




                                                <div class="row">
                                                    <div class="col-sm-1">
                                                        <label class="control-label" for="sel_auct">מכרז:</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.DropDownList("A", auctionli, "בחר/י ערך", new { @class = "form-control", @onchange = "javascript:GetVal(this.value);" })
                                                    </div>
                                                

                                            
                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="tichur_num">מס' תיחור:</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="tichur_num">
                                                    </div>
                                                </div>
                                            </div>


</form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span>שלוף רשימה</button>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-new-window" aria-hidden="true">&nbsp;</span>חדש</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Table", new TableModel()
{
    header = new List<string>() { "מס' שורה", "מס' תוצאות בשליפה", "יחידה", "מספר מכרז", "שם מכרז", "תיחור", "מס' סל", "שם סל", "שם ספק", "ת.פ.", "איש קשר", "כתובת אימייל", "טלפון", "תאריך ושעה" },
    Title = "יצירת רשימת ספקים לתיחור",
    values = new List<List<string>>() { new List<string>() { "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa" },
    new List<string>() { "aaaaa", "abbaa", "aabaa", "aaaba", "abbaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa", "aaaaa" }},
    
})
