
@{
    ViewBag.Title = "יצירת רשימות ספקים לתיחור";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<section class="section1">
      <b>  יצירת רשימת ספקים לתיחור</b>
 
</section>
<section class="section2" style="display:flex;padding-right:45px;align-items:center;">
    <b> פרטי תיחור</b>
</section>
<section class="section3" style="text-align:right;direction:rtl">
   <form><br />
    <br />
       יחידה&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <select style="width:140px;" >
           <option>בחר/י ערך</option>
       </select>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      סל&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
       <select  style="width:140px;">
           <option>בחר/י ערך</option>
       </select ><br />
       <br />
       <br />
        מכרז&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <select  style="width:140px;">
           <option>בחר/י ערך</option>
       </select>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       מספר תיחור&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <input style="width:140px;"></input><br /><br />
       &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" style="width:100px; height:25px" value="חדש"> </input>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="submit" style="width:100px; height:25px" value="שלוף רשימה"> </input>

   </form>
</section>
<section class="section4">
    כותרת 2
</section>
<section class="section5">
    חלון ב'
</section>