@using WebApplication1.Models
@using WebApplication1.Database
@{
    ViewBag.Title = "יצירת רשימת תיחור חדשה";
    Layout = "~/Views/Shared/MainLayout.cshtml";

    List<SelectListItem> unitli = new List<SelectListItem>();
    List<SelectListItem> auctionli = new List<SelectListItem>();
    using (TimchurDatabaseEntities ent = new TimchurDatabaseEntities())
    {
        if (User.IsInRole("Admin"))
        {
            foreach (Units un in ent.Units)
            {
                unitli.Add(new SelectListItem() { Value = un.ID.ToString(), Text = un.Name, Selected = false });
            }
        }
        else
        {
            var rec = "<" + (ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.ID.ToString()) + "><" + (ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Units.Name) + ">.<" + ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().FullName + "," + ent.Users.Where(x => x.IDCardNumber == User.Identity.Name).First().Roles.Name + ">";
            unitli.Add(new SelectListItem() { Value = rec, Text = rec, Selected = true });
        }
        if (User.IsInRole("Admin") || ent.UnitsAuctions.Where(x => x.UnitID == ent.Users.Where(x2 => x2.IDCardNumber == User.Identity.Name).FirstOrDefault().Units.ID).Count() == 0)
        {
            foreach (Auctions un in ent.Auctions)
            {
                if (un.StatusID == 1)
                {
                    auctionli.Add(new SelectListItem() { Value = un.ID.ToString(), Text = un.Name, Selected = false });
                }
            }
        }
        else
        {
            foreach (UnitsAuctions un in ent.UnitsAuctions.Where(x => x.UnitID == ent.Users.Where(x2 => x2.IDCardNumber == User.Identity.Name).FirstOrDefault().Units.ID))
            {
                if (un.Auctions.StatusID == 1)
                {
                    auctionli.Add(new SelectListItem() { Value = un.Auctions.ID.ToString(), Text = un.Auctions.Name, Selected = false });
                }
            }
        }
    }
}
<div id="filename" style="display:none;"></div>
<script language="javascript" type="text/javascript">
    function GetVal(_auctionId) {

        var procemessage = "<option value='' selected='selected'>המתן....</option>";
        $("#sel_clust").html(procemessage).show();
        var url = "/Main/GetCluByAuc/";
        if (_auctionId == "") {
            return;
        }
        $.ajax({
            url: url,
            data: { auctionId: _auctionId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='' selected='selected'>בחר/י ערך</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#sel_clust").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    };
    function TabRes() {
        $('#tichur_num').css({ "background": "", "border": "" });
        $(".qtip").remove();
        var data = {

            tichur_id: $('#tichur_num').val(),
            unit_id: $('#sel_unit').val(),
            clu_id: $('#sel_clust').val(),
            auc_id: $('#sel_auct').val(),

        };
        var pattren = /[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]#/g;
        if (pattren.test(data.tichur_id + "#") == false) {
            $('#tichur_num').css({ "background": "#FEF1EC", "border": "1px solid #CD0A0A" });
            $('#tichur_num').qtip({ // Grab some elements to apply the tooltip to
                content: 'מספר תיחור אינו תקין',
                position: {
                    target: 'mouse', // Track the mouse as the positioning target
                    adjust: { x: 5, y: 5 } // Offset it slightly from under the mouse
                }
            });
           
            return;
        }
        $.ajax({
            type: "POST",
            url: "@Url.Content("~/Main/GetTichurProcc")",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: data,
            success: function (d) {
                if (d.Status == "error") {
                    $.bootstrapPurr(d.data[0][0]);
                }
                else {
                  

                 

                 

                    et.clear().draw();
                    for (var i = 0; i < d.data.length; i++) {
                        var arr = [];
                        arr.push(i);
                        for (var j = 1; j < d.data[i].length; j++) {
                            arr.push(d.data[i][j]);
                        }
                        et.row.add(arr).draw();


                    }
                    $("#filename").html($('#sel_unit option:selected').text() + "-" + "תיחור " + $('#tichur_num').val() + " " + $('#sel_clust option:selected').text() + " " + $('#sel_auct option:selected').text() + " " + "- רשימת ספקים");
                    $("#filename").trigger("click");


                    $.bootstrapPurr("תיחור הצליח");
                }
                
            },
            error: function (xhr, textStatus, errorThrown) {
                // TODO: Show error
            }
        });
    };
    function newEff() {

        $("#form_search_area").trigger('reset');
        et.clear().draw();
    };
</script>
@section Code1
{
  
      var texTab="";
    var table = $('.tabExcel').DataTable({
    buttons: ['copy', {
    extend: 'excel',
    title: "" +dstr,
     init: function(dt, node, config) {
        $("#filename").on('click', function() {
            config.title = $("#filename").html()+dstr;
        })
     }
    }],
    "oLanguage": {
    "sUrl": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Hebrew.json"
    },
    "dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-2'i><'col-sm-5'>><'row'<'col-sm-4'><'col-sm-2'f><'col-sm-2'B><'col-sm-4'>><'row'<'col-sm-5'><'col-sm-2'p><'col-sm-5'>>"

    });
    et=table;

}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <label class="form-control"  >ליצירת רשימה לחץ על <span class="glyphicon glyphicon-arrow-left"></span></label>
                <div id="search_grop_butts" class="input-group-btn">
                    <div  id="search_contain_buttns"  class="btn-group" role="group">
                        <div id="search_contain" class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-left" role="menu">
                                <form id="form_search_area" class="form-horizontal" role="form">
                                    
                                        @if (User.IsInRole("Admin"))
                                        {

                                            <div class="form-group">
                                                <div class="row">

                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="sel_unit">יחידה:</label>

                                                    </div>
                                                    <div class="col-sm-4">

                                                        @Html.DropDownList("D", unitli, "בחר/י ערך", new { @id = "sel_unit", @class = "form-control" })

                                                    </div>
                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="sel_clust">סל:</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <select class="form-control" id="sel_clust">
                                                            <option>אנא בחר מכרז</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                        else
                                        {

                                                <div class="form-group">
                                                    <div class="row">

                                                        <div class="col-sm-1">
                                                            <label class="control-label" for="sel_unit">יחידה:</label>

                                                        </div>
                                                        <div class="col-sm-5">

                                                            @Html.DropDownList("D",unitli, new { @id= "sel_unit", @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                            <div class="col-sm-1">
                                                                <label class="control-label" for="sel_clust">סל:</label>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <select class="form-control" id="sel_clust">
                                                                    <option>אנא בחר מכרז</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                   
                                                    </div>

                                                }

                                         

                                            <div class="form-group">




                                                <div class="row">
                                                    <div class="col-sm-1">
                                                        <label class="control-label" for="sel_auct">מכרז:</label>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.DropDownList("A", auctionli, "בחר/י ערך", new { @id = "sel_auct", @class = "form-control", @onchange = "javascript:GetVal(this.value);" })
                                                    </div>
                                                

                                            
                                                    <div class="col-sm-2">
                                                        <label class="control-label" for="tichur_num">מס' תיחור:</label>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" id="tichur_num">
                                                    </div>
                                                </div>
                                            </div>


</form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="TabRes()"><span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span>שלוף רשימה</button>
                        <button type="button" class="btn btn-primary" onclick="newEff()"><span class="glyphicon glyphicon-new-window" aria-hidden="true">&nbsp;</span>חדש</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="" id="tab_1">
    <table class="table tabExcel" id="toExcel">
        <thead>
            <tr>
                <th>
                    מספר שורה
                </th>
                <th>
                    מס בתוצאת שליפה
                </th>
                <th>
                    יחידה
                </th>
                <th>
                    מס' מכרז
                </th>
                <th>
                    שם מכרז
                </th>
                <th>
                    תיחור
                </th>
                <th>
                    מס' סל
                </th>
                <th>
                    שם סל
                </th>
                <th>
                    שם ספק
                </th>
                <th>
                    ח.פ.
                </th>
                <th>
                    איש קשר
                </th>
                <th>
                    אימייל
                </th>
                <th>
                    טלפון
                </th>
                <th>
                    תאריך ושעה
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
