<section class="section5">
    <table id="combtab" style="direction:rtl;width:100%;">

        <tr>
            <td><b>מספר שורה</b></td>

            <td><b>יחידה</b></td>
            <td><b>מס מכרז</b></td>
            <td><b>שם מכרז</b></td>
            <td><b>תיחור</b></td>
            <td><b>מס אשכול</b></td>
            <td><b>שם אשכול</b></td>
            <td><b>שם ספק</b></td>
            <td><b>ח.פ.</b></td>
            <td><b>איש קשר</b></td>
            <td><b>כתובת אימייל</b></td>
            <td><b>טלפון</b></td>
            <td><b>תאריך ושעה</b></td>
        </tr>


        @for (var i = 0; i < 10; i++)
            {
            <tr>
                <td>@i</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }

    </table>
</section>