
@{
    ViewBag.Title = "אינך מורשה כניסה";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section Code1
{
    
}
<div class="col-sm-4"></div>
<div class="col-sm-4"><img src="@Url.Content("~/Images/warning.png")" /></div>
<div class="col-sm-4"></div>