
@{
    Layout = null;
}

<!DOCTYPE html>
<style >
    .base
    {
        text-align:center;
    }

</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthError</title>
</head>
<body>
    <div class="base">  
        <img src="@Url.Content("~/Images/warn_unauth.jpg")" />
      <h1>Warning! You are unauthorized to accsess this page</h1>
    </div>
</body>
</html>
